<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>牙智云系统用户注册</h1>

     <h>用户注册</h>

	         <table>
			    <tr align="right">
				   <td>工厂名称：<td>
				   <td><input type=""/><td>
			    </tr>
			    <tr align="right">
				    <td>城市：<td>
				    <td><input type="name"/><td>
			    </tr>
			    <tr align="right">
				    <td>地址：<td>
				    <td><input align="address"/><td>
			    </tr>
			    <tr align="right">
				    <td>联系人:<td>
				    <td><input align="password"/><td>
			    </tr>
                 <tr align="right">
				    <td>电话：<td>
				    <td><input align="tel"/><td>
			    </tr>
			    </tr>
                 <tr align="right">
				    <td>代理人：<td>
				    <td><input align="worker"/><td>
			    </tr>
             </table>



</body>
</html>