<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增工厂</title>
</head>
<body>
    <form action="" method="post">
        <h1>新增工厂信息</h1>
                <table align="center">
					<tr align="right">
						<td>工厂名称：</td>
						<td>
							<input name="name" type="text"/>
						</td>
					</tr>
					<tr align="right">
						<td>城市：</td>
						<td>
							<input name="city" type="text"/>
						</td>
					</tr>
					<tr align="right">
						<td>地址：</td>
						<td>
							<input name="address" type="text"/>
						</td>
					</tr>
					<tr align="right">
						<td>联系人：</td>
						<td>
							<input name="contact" type="text"/>
						</td>
					</tr>
                    <tr align="right">
						<td>电话：</td>
						<td>
							<input name="tel" type="tel"/>
						</td>
					</tr>
                    <tr align="right">
						<td>对接人：</td>
						<td>
							<input name="duijie" type="text"/>
						</td>
					</tr>
				</table>

                <br />
                <input type="reset" />
                <input type="submit" />
			</form>

</body>
</html>