<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 align="center">恭喜新增工厂成功</h1>

            <table align="center" border="1px" cellspacing="0px" width="30%" >
                <tr>
                    <td width="50%">工厂编号：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>工厂名称：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>城市：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>地址：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>联系人：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>联系人电话：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>对接人：</td>
                    <td></td>
                </tr>
                <tr>
                    <td>账号状态：</td>
                    <td></td>
                </tr>


            </table>



</body>
</html>